In [203]:
import pandas as pd
import numpy as np

In [204]:
df = pd.read_csv('./guild.csv',engine='python',encoding='utf-8')

In [205]:
df = pd.DataFrame(df)
df

,Rank,ID,Name,before_calc,Thu,Fri,Sat,Sun,Mon,Tue,Wed,calc
0,1,1,맬로랑쓰,149202,150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,깰로랑쓰,103288,110000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,달콤한마로,92683,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,팬시플라워쿠키,86496,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,봉골레옹파스탘,63674,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,6,웰투y,55399,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,7,전복차돌된장국,55130,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,8,추은추,47650,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,9,삼계리쿠키,42798,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,10,MJW7,37108,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,11,호테이토모야스,36758,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,12,파워리듬,33695,33695,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,13,BB랜덤,31772,31772,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,14,중급다과회,31683,31683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,15,Kong똥,22163,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,16,차니네쿠키가게,18046,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,17,토템이,16641,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,18,개도막걸리,10431,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,19,루슈허,7353,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,20,순바이다람쥐,6966,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,21,짱희강,6611,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,22,현찬짱,5506,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,23,dowooner,4609,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,24,바바히,1001,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,25,륵부륵부륵부륵,989,989,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,26,jydvndnvxvnx,442,442,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,27,나는뭔가,70,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,28,ㅎ헿ㅎㅎㅎ,46,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,29,괴도괴도오,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
name_list = list(df['Name'])
name_Dict = {}
for i,v in enumerate(name_list):
    name_Dict[i] = v
name_Dict

user = df.rename(index=name_Dict)
user.drop(['Name','Rank','ID'],axis=1,inplace=True)
#참여여부  = > 전 날 비교해서 차이가 나면 1, 0이면 0으로 매핑
#미참여경고 = > 0될때마다 1
user['gap_Score'] = np.nan
user['Unparticipated'] = np.nan
print("------------------------분노용 3시즌---------------------------")
print("매일 PM 11:55 기여도 점수 기록")
print("미참여 경고 3회 누적 시 추방")
user

------------------------분노용 3시즌---------------------------
매일 PM 11:55 기여도 점수 기록
미참여 경고 3회 누적 시 추방

,before_calc,Thu,Fri,Sat,Sun,Mon,Tue,Wed,calc,gap_Score,Unparticipated
맬로랑쓰,149202,150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
깰로랑쓰,103288,110000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
달콤한마로,92683,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
팬시플라워쿠키,86496,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
봉골레옹파스탘,63674,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
웰투y,55399,100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
전복차돌된장국,55130,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
추은추,47650,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
삼계리쿠키,42798,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MJW7,37108,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
호테이토모야스,36758,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
파워리듬,33695,33695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BB랜덤,31772,31772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중급다과회,31683,31683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kong똥,22163,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
차니네쿠키가게,18046,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
토템이,16641,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
개도막걸리,10431,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
루슈허,7353,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
순바이다람쥐,6966,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
짱희강,6611,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
현찬짱,5506,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dowooner,4609,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
바바히,1001,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
륵부륵부륵부륵,989,989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jydvndnvxvnx,442,442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
나는뭔가,70,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ㅎ헿ㅎㅎㅎ,46,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
괴도괴도오,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
user['gap_Score'] = user['Thu']-user['before_calc']

count=0
def unparti(score):
    global count
    if score != 0:
        return 0
    else:
        return count+1
    
user['Unparticipated'] = user['gap_Score'].apply(unparti)
user[user['Unparticipated'] != 0]

,before_calc,Thu,Fri,Sat,Sun,Mon,Tue,Wed,calc,gap_Score,Unparticipated
파워리듬,33695,33695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
BB랜덤,31772,31772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
중급다과회,31683,31683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
륵부륵부륵부륵,989,989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
jydvndnvxvnx,442,442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
나는뭔가,70,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
ㅎ헿ㅎㅎㅎ,46,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
괴도괴도오,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1