# [퓨처스킬](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/657aedc9-fe65-49f3-ae79-3f925bc616c0)  
# 판다스 기본

### 1. pandas data structure
 - Python list L 을 Pandas series 로 변환하는 코드를 작성해보세요.

In [94]:
import pandas as pd
import numpy as np

L = [1,2,3,4,5]

pd.Series(L)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 2. pandas data structure (2)
- 열의 이름은 A, B, C, D이고 각 열마다 5개의 random한(임의의) 숫자를 원소로 하는 DataFrame을 생성하는 코드를 작성해보세요.

In [95]:
df_A = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'))
df_A2 = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'))
df_A

          A         B         C         D
0 -0.298088 -1.436588  1.090575  1.996712
1 -1.316413  0.552005 -0.678067 -0.405397
2 -0.644080 -1.022689  0.060175  0.674529
3  1.661690  0.788312  0.571451 -1.031990
4  0.852487 -1.982605  0.471885  0.229048

### 3. pandas data structure (3)
- 2번 문제에서 생성한 DataFrame의 index로 2020년 1월 1일 부터 2020년 1월 5일까지의 날짜를 지정하는 코드를 작성해보세요.

In [96]:
df_A.index = pd.date_range('20200101', periods =5 )
df_A2.index = pd.date_range('20200101', periods =5 )
df_A

                   A         B         C         D
2020-01-01 -0.298088 -1.436588  1.090575  1.996712
2020-01-02 -1.316413  0.552005 -0.678067 -0.405397
2020-01-03 -0.644080 -1.022689  0.060175  0.674529
2020-01-04  1.661690  0.788312  0.571451 -1.031990
2020-01-05  0.852487 -1.982605  0.471885  0.229048

###  4. DataFrame method
- 다음 그림과 같은 DataFrame을 만드는 코드를 작성해보세요. df_B로 이름 지정

In [97]:
L = "ABCD"
data = [['{}{}'.format(x,i) for x in L] for i in range(0,12)]

df_B=pd.DataFrame(data ,columns=list('ABCD'))

print(df_B)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### 5. DataFrame method (2)
- df_B를 이용해서, 위에서부터 5개의 행을 출력하는 코드를 작성해보세요.

In [98]:
df_B.head(5)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

### 6. DataFrame method (3)
- df_B를 이용해서, DataFrame의 index와 columns, values를 각각 추출해내는 코드를 작성해보세요.

In [99]:
df_B.index.to_numpy()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11], dtype=int64)

In [100]:
df_B.columns.to_numpy()

array(['A', 'B', 'C', 'D'], dtype=object)

In [101]:
df_B.values

array([['A0', 'B0', 'C0', 'D0'],
       ['A1', 'B1', 'C1', 'D1'],
       ['A2', 'B2', 'C2', 'D2'],
       ['A3', 'B3', 'C3', 'D3'],
       ['A4', 'B4', 'C4', 'D4'],
       ['A5', 'B5', 'C5', 'D5'],
       ['A6', 'B6', 'C6', 'D6'],
       ['A7', 'B7', 'C7', 'D7'],
       ['A8', 'B8', 'C8', 'D8'],
       ['A9', 'B9', 'C9', 'D9'],
       ['A10', 'B10', 'C10', 'D10'],
       ['A11', 'B11', 'C11', 'D11']], dtype=object)

### 7. DataFrame method (4)
- df_B를 이용해서, DataFrame의 요약 정보를 출력하는 코드를 작성해보세요.

In [102]:
df_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

### 8. DataFrame method (5)
- df_A를 이용해서, 해당 DataFrame의 전체적인 통계량(통계정보)을 보여주는 코드를 작성해보세요.

In [103]:
df_A.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean   0.051119 -0.620313  0.303204  0.292581
std    1.194939  1.229085  0.659985  1.150614
min   -1.316413 -1.982605 -0.678067 -1.031990
25%   -0.644080 -1.436588  0.060175 -0.405397
50%   -0.298088 -1.022689  0.471885  0.229048
75%    0.852487  0.552005  0.571451  0.674529
max    1.661690  0.788312  1.090575  1.996712

### 9. sorting
- df_A를 이용해서, column C 기준으로 내림차순 정렬한 결과를 출력하는 코드를 작성해보세요.

In [104]:
df_A2.sort_values(by='C', ascending = False, inplace = True)
df_A2

                   A         B         C         D
2020-01-05 -0.761965 -2.079947  1.259479 -1.259453
2020-01-04  2.549556 -1.606688  0.568913 -1.235268
2020-01-01 -0.473970  1.397021  0.363025 -0.276341
2020-01-02  0.961088  0.925153  0.071160  0.457691
2020-01-03  1.869096 -0.423115 -0.600714  0.435328

### 10. indexing
- df_A를 이용해서, column A(A열)를 출력하는 코드를 작성해보세요.

In [105]:
df_A['A']

2020-01-01   -0.298088
2020-01-02   -1.316413
2020-01-03   -0.644080
2020-01-04    1.661690
2020-01-05    0.852487
Freq: D, Name: A, dtype: float64

### 11.  indexing (2)
- df_A를 이용해서   
1번. 3번째 행의 원소들  
2번 index가 2020-01-05에 해당하는 행을  
출력하는 코드를 작성해보세요.

In [106]:
#1.
df_A.iloc[2]

A   -0.644080
B   -1.022689
C    0.060175
D    0.674529
Name: 2020-01-03 00:00:00, dtype: float64

In [107]:
#2.
df_A.loc['2020-01-05']

A    0.852487
B   -1.982605
C    0.471885
D    0.229048
Name: 2020-01-05 00:00:00, dtype: float64

### 12. indexing (3)
- df_A를 이용해서, 2020년 1월 2일부터 2020년 1월 4일까지의 데이터중에 column A, B에 해당하는 데이터를 출력하는 코드를 작성해보세요.

In [108]:
df_A.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [121]:
df_A.iloc[[1,3],[0,1]]

                   A         B
2020-01-02 -1.316413  0.552005
2020-01-04  1.661690  0.788312

In [122]:
df_A.loc['2020-01-02':'2020-01-04'][['A','B']]

                   A         B
2020-01-02 -1.316413  0.552005
2020-01-03 -0.644080 -1.022689
2020-01-04  1.661690  0.788312

### 13. indexing (4)
- df_A에서 0보다 큰 데이터를 모두 출력하는 코드를 작성하세요.

(해당 데이터가 조건에 해당되지 않아 빈 칸일때 NaN으로 출력됩니다. NaN은 Not a Number 라는 의미입니다.)

In [145]:
df_A[df_A > 0]

                   A         B         C         D
2020-01-01       NaN       NaN  1.090575  1.996712
2020-01-02       NaN  0.552005       NaN       NaN
2020-01-03       NaN       NaN  0.060175  0.674529
2020-01-04  1.661690  0.788312  0.571451       NaN
2020-01-05  0.852487       NaN  0.471885  0.229048

### 14. concat
- 데이터에서 주어진 형태가 같은 2개의 DataFrame 을 이용해서,

Output처럼 위-아래로 합쳐진 DataFrame을 생성하는 코드를 작성해보세요.

In [156]:
data1 = {'A' : [1,2],'B': [3,4], 'C': [5,6]}
data2 ={'A' : [-1,-2],'B': [-3,-4], 'C': [-5,-6]}

df1 = pd.DataFrame(data1, columns = ['A','B','C'])
df2 = pd.DataFrame(data2, columns = ['A','B','C'])

df_C = pd.concat([df1,df2],ignore_index=True)
df_C

   A  B  C
0  1  3  5
1  2  4  6
2 -1 -3 -5
3 -2 -4 -6

- axis는 어느축으로 합칠건지 정한다  
 0은 가로축을 기준으로 합친다 위,아래  
 1은 세로축을 기준으로 합친다 오른쪽,왼쪽  
- ignore_index는 합칠 인덱스를 무시할건지 여부를 정한다    
 True를 할경우 합칠 데이터 프레임의 인덱스를 무시하고   
 False를 할경우 합칠 데이터 프레임의 인덱스를 보존한상태로 데이터프레임을 만든다

### 15.  concat (2)
- 데이터에서 주어진 형태가 같은 2개의 DataFrame 을 이용해서,

Output처럼 양옆으로 합쳐진 DataFrame을 생성하는 코드를 작성해보세요.

In [157]:
df_D = pd.concat([df1,df2],axis=1)
df_D

   A  B  C  A  B  C
0  1  3  5 -1 -3 -5
1  2  4  6 -2 -4 -6