# [퓨처스킬](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/657aedc9-fe65-49f3-ae79-3f925bc616c0)  
# 판다스 기본

### 1. pandas data structure
 - Python list L 을 Pandas series 로 변환하는 코드를 작성해보세요.

In [38]:
import pandas as pd
import numpy as np

L = [1,2,3,4,5]

pd.Series(L)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 2. pandas data structure (2)
- 열의 이름은 A, B, C, D이고 각 열마다 5개의 random한(임의의) 숫자를 원소로 하는 DataFrame을 생성하는 코드를 작성해보세요.

In [39]:
df_A = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'))
df_A

          A         B         C         D
0  0.487606  0.032074  1.476573 -0.991685
1 -1.382377 -0.037249 -0.584440  0.283702
2 -0.282147 -0.860179  0.441280  0.343540
3  0.453148 -1.019557  0.351477  1.016505
4 -0.323109  0.456827 -0.751451  1.145517

### 3. pandas data structure (3)
- 2번 문제에서 생성한 DataFrame의 index로 2020년 1월 1일 부터 2020년 1월 5일까지의 날짜를 지정하는 코드를 작성해보세요.

In [40]:
df_A.index = pd.date_range('20200101', periods =5 )

df_A

                   A         B         C         D
2020-01-01  0.487606  0.032074  1.476573 -0.991685
2020-01-02 -1.382377 -0.037249 -0.584440  0.283702
2020-01-03 -0.282147 -0.860179  0.441280  0.343540
2020-01-04  0.453148 -1.019557  0.351477  1.016505
2020-01-05 -0.323109  0.456827 -0.751451  1.145517

###  4. DataFrame method
- 다음 그림과 같은 DataFrame을 만드는 코드를 작성해보세요. df_B로 이름 지정

In [41]:
L = "ABCD"
data = [['{}{}'.format(x,i) for x in L] for i in range(0,12)]

df_B=pd.DataFrame(data ,columns=list('ABCD'))

print(df_B)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### 5. DataFrame method (2)
- df_B를 이용해서, 위에서부터 5개의 행을 출력하는 코드를 작성해보세요.

In [42]:
df_B.head(5)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

### 6. DataFrame method (3)
- df_B를 이용해서, DataFrame의 index와 columns, values를 각각 추출해내는 코드를 작성해보세요.

In [43]:
df_B.index.to_numpy()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11], dtype=int64)

In [44]:
df_B.columns.to_numpy()

array(['A', 'B', 'C', 'D'], dtype=object)

In [45]:
df_B.values

array([['A0', 'B0', 'C0', 'D0'],
       ['A1', 'B1', 'C1', 'D1'],
       ['A2', 'B2', 'C2', 'D2'],
       ['A3', 'B3', 'C3', 'D3'],
       ['A4', 'B4', 'C4', 'D4'],
       ['A5', 'B5', 'C5', 'D5'],
       ['A6', 'B6', 'C6', 'D6'],
       ['A7', 'B7', 'C7', 'D7'],
       ['A8', 'B8', 'C8', 'D8'],
       ['A9', 'B9', 'C9', 'D9'],
       ['A10', 'B10', 'C10', 'D10'],
       ['A11', 'B11', 'C11', 'D11']], dtype=object)

### 7. DataFrame method (4)
- df_B를 이용해서, DataFrame의 요약 정보를 출력하는 코드를 작성해보세요.

In [46]:
df_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

### 8. DataFrame method (5)
- df_A를 이용해서, 해당 DataFrame의 전체적인 통계량(통계정보)을 보여주는 코드를 작성해보세요.

In [47]:
df_A.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean  -0.209376 -0.285617  0.186688  0.359516
std    0.761394  0.629013  0.898682  0.848702
min   -1.382377 -1.019557 -0.751451 -0.991685
25%   -0.323109 -0.860179 -0.584440  0.283702
50%   -0.282147 -0.037249  0.351477  0.343540
75%    0.453148  0.032074  0.441280  1.016505
max    0.487606  0.456827  1.476573  1.145517

### 9. sorting
- df_A를 이용해서, column C 기준으로 내림차순 정렬한 결과를 출력하는 코드를 작성해보세요.

In [48]:
df_A.sort_values(by='C', ascending = False, inplace = True)
df_A

                   A         B         C         D
2020-01-01  0.487606  0.032074  1.476573 -0.991685
2020-01-03 -0.282147 -0.860179  0.441280  0.343540
2020-01-04  0.453148 -1.019557  0.351477  1.016505
2020-01-02 -1.382377 -0.037249 -0.584440  0.283702
2020-01-05 -0.323109  0.456827 -0.751451  1.145517

### 10. indexing
- df_A를 이용해서, column A(A열)를 출력하는 코드를 작성해보세요.

In [49]:
df_A['A']

2020-01-01    0.487606
2020-01-03   -0.282147
2020-01-04    0.453148
2020-01-02   -1.382377
2020-01-05   -0.323109
Name: A, dtype: float64